

<!--From https://codepen.io/frytyler/pen/EGdtg-->

<!DOCTYPE html>
<html >
{% extends 'base.html' %}
{% block content %}


  <head>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    
  </head>

  <body style="background-color:#0384fc;">
  <div class="login">
    <h1><i style="color:rgb(204, 206, 217);">Orthopedic Predictions</i></h1>

      <!-- Main Input For Receiving Query to our ML -->
      <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name="pelvic_incidence" placeholder="Pelvic Incidence" required="required" />
        <input type="text" name="pelvic_tilt" placeholder="Pelvic Tilt" required="required" />
        <input type="text" name="lumbar_lordosis_angle" placeholder="Lumbar Lordosis Angle" required="required" />
        <input type="text" name="sacral_slope" placeholder="Sacral Slope" required="required" />
        <input type="text" name="pelvic_radius" placeholder="Pelvic Radius" required="required" />
        <input type="text" name="degree_spondylolisthesis" placeholder="Degree Spondylolisthesis" required="required" />

          <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
      </form>
      
    <br>
    <br>
    <i style="color:rgb(204, 206, 217);">{{ prediction_text }}</i>
        
  </div>

  <i style="color:rgb(204, 206, 217);">TEST TEXT</i>



  </body>
{% endblock %}
</html>
