h1 {
    color: darkblue;
    font-size:20px;
}

h2.prediction {
    color: darkblue;
    font-size:14px;
    font-weight:bold;
}


body {
    background: #f4f4f4;
}


a.nav-link {
    font-size: 14px
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
