<!DOCTYPE html>
<html >
{% extends 'base.html' %}
{% block content %}


  <head>
    
  </head>

  <body>
  <h1>Overall Data Context</h1>
<a href="http://archive.ics.uci.edu/ml/datasets/vertebral+column">Information on Dataset</a>
<br>
<div style = "overflow-x:auto;">
  <table class="table">
    <thead>
    <tr>
      <th>Features</th>
      <th>Minimum Value</th>
      <th>Mean Value</th>
      <th>Maximum Value</th>
    </tr>
    <tr>
      <td>Pelvic Incidence</td>
      <td>26.1</td>
      <td>60.5</td>
      <td>129.8</td>
    </tr>
    <tr>
      <td>Pelvic Tilt</td>
      <td>-6.6</td>
      <td>17.5/td>
      <td>49.4</td>
    </tr>
    <tr>
      <td>Lumbar Lordosis Angle</td>
      <td>14.0</td>
      <td>51.9</td>
      <td>125.7</td>
    </tr>
    <tr>
      <td>Sacral Slope</td>
      <td>13.4</td>
      <td>43.0</td>
      <td>121.4</td>
    </tr>
    <tr>
      <td>Pelvic Radius</td>
      <td>70.1</td>
      <td>117.9</td>
      <td>163.1</td>
    </tr>
    <tr>
      <td>Degree Spondylolisthesis</td>
      <td>-11.1</td>
      <td>26.3</td>
      <td>418.5</td>
    </tr>
  </table>
</div>
<br>
<br>
  <h1>Feature Context</h1>
  <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2697338/#CR93">Related Journal Article on Dataset</a>
  </body>
{% endblock %}
</html>
