<!DOCTYPE html>
<html >
{% extends 'base.html' %}
{% block content %}


  <head>
    
  </head>

  <body>
  <div class="login">
    <h1><i>Deep Learning Orthopedic Predictions</i></h1>

      <!-- Main Input For Receiving Query to our ML -->
      <form action="{{ url_for('deep_learning_pred_output')}}"method="post">
        <input type="text" name="pelvic_incidence" placeholder="Pelvic Incidence" required="required" />
        <input type="text" name="pelvic_tilt" placeholder="Pelvic Tilt" required="required" />
        <input type="text" name="lumbar_lordosis_angle" placeholder="Lumbar Lordosis Angle" required="required" />
        <input type="text" name="sacral_slope" placeholder="Sacral Slope" required="required" />
        <input type="text" name="pelvic_radius" placeholder="Pelvic Radius" required="required" />
        <input type="text" name="degree_spondylolisthesis" placeholder="Degree Spondylolisthesis" required="required" />

          <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
      </form>
      
    <br>
    <br>
    <i style="color:rgb(204, 206, 217);">{{ prediction_text }}</i>
        
  </div>


  <table class="table">
    <thead>
    <tr>
      <th>Class</th>
      <th>Pelvic Incidence</th>
      <th>Pelvic Tilt</th>
      <th>Lumbar Lordosis Angle</th>
      <th>Sacral Slope</th>
      <th>Pelvic Radius</th>
      <th>Degree Spondylolisthesis</th>
    </tr>
    <tr>
      <td>Normal</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Hernia</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Spondylolisthesis</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
  </table>



  </body>
{% endblock %}
</html>
