<!DOCTYPE html>
<html >
{% extends 'base.html' %}
{% block content %}


  <head>
    <title>Machine Learning Web App</title>
  </head>

  <body>
  <div class="login">
    <h1><i>Orthopedic Predictions</i></h1>

      <!-- Main Input For Receiving Query to our ML -->
      <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name="pelvic_incidence" placeholder="Pelvic Incidence" required="required" />
        <input type="text" name="pelvic_tilt" placeholder="Pelvic Tilt" required="required" />
        <input type="text" name="lumbar_lordosis_angle" placeholder="Lumbar Lordosis Angle" required="required" />
        <input type="text" name="sacral_slope" placeholder="Sacral Slope" required="required" />
        <input type="text" name="pelvic_radius" placeholder="Pelvic Radius" required="required" />
        <input type="text" name="degree_spondylolisthesis" placeholder="Degree Spondylolisthesis" required="required" />

          <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
      </form>
      
    <br>
    <br>
    <h2 class="prediction">{{ prediction_text }}</h2>
    <br>
    <br>
  </div>

<i>Example Diagnosis Inputs</i>
<br>
<div style = "overflow-x:auto;">
  <table class="table">
    <thead>
    <tr>
      <th>Features</th>
      <th>Normal</th>
      <th>Hernia</th>
      <th>Spondylolisthesis</th>
    </tr>
    <tr>
      <td>Pelvic Incidence</td>
      <td>44.4</td>
      <td>36.1</td>
      <td>74.4</td>
    </tr>
    <tr>
      <td>Pelvic Tilt</td>
      <td>14.2</td>
      <td>22.8</td>
      <td>32.1</td>
    </tr>
    <tr>
      <td>Lumbar Lordosis Angle</td>
      <td>32.2</td>
      <td>29.0</td>
      <td>78.8</td>
    </tr>
    <tr>
      <td>Sacral Slope</td>
      <td>30.3</td>
      <td>13.4</td>
      <td>42.3</td>
    </tr>
    <tr>
      <td>Pelvic Radius</td>
      <td>131.7</td>
      <td>115.6</td>
      <td>143.6</td>
    </tr>
    <tr>
      <td>Degree Spondylolisthesis</td>
      <td>-3.6</td>
      <td>-3.2</td>
      <td>56.1</td>
    </tr>
  </table>
</div>

  </body>
{% endblock %}
</html>
