<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('home') }}">ML Web App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Predict!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">Context</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('eda') }}">Initial Data Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('machine_learning') }}">Model Creation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('deep_learning_overview') }}">Deep Learning</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('azure_pipeline') }}">Azure Pipeline</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://medium.com/@william.n.vanbuskirk/from-no-code-to-code-in-azure-machine-learning-38ee6b556de2" target="_blank" rel="noopener noreferrer">Azure ML Article</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/van-william/flask_app_ml" target="_blank" rel="noopener noreferrer">GitHub Repo</a>
          </li>
            </ul>
        </ul>
        </form>
      </div>
    </div>
  </nav>